
<div class="cl">&nbsp;</div>
<ul>
      <li><a href="/homepage_admin">Home</a><span class="sep">&nbsp;</span></li>
      <li><a href="/display_all_movies">Display All Movies</a><span class="sep">&nbsp;</span></li>
      <li><a href="/admin_display_customers">Display All Customers</a><span class="sep">&nbsp;</span></li>
       <li><a href="/addMovie">Add New Movie</a><span class="sep">&nbsp;</span></li>
            
           
</ul>
  <div class="cl">&nbsp;</div>