<div class="cl">&nbsp;</div>
          <ul>
            <li class="first active first-active"><a href="/">Home</a><span class="sep">&nbsp;</span></li>
            <li><a href="/myAccount">My Account</a><span class="sep">&nbsp;</span></li>
          </ul>
<div class="cl">&nbsp;</div>